<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modifierKeys</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>⌘</string>
		<string>⇧</string>
		<string>⇪</string>
		<string>⌥</string>
		<string>⌃</string>
		<string>⇧</string>
		<string>⌥</string>
		<string>⌃</string>
	</array>
	<key>specialKeys</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>⏎</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>NumLock</string>
		<string>⇥</string>
		<string>Space</string>
		<string></string>
		<string>⇤</string>
		<string></string>
		<string>⎋</string>
		<string></string>
		<string>⌘</string>
		<string>⇧ (Left)</string>
		<string>⇪</string>
		<string>⌥ (Left)</string>
		<string>⌃ (Left)</string>
		<string>⇧ (Right)</string>
		<string>⌥ (Right)</string>
		<string>⌃ (Right)</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>⌅</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>F5</string>
		<string>F6</string>
		<string>F7</string>
		<string>F3</string>
		<string>F8</string>
		<string>F9</string>
		<string></string>
		<string>F11</string>
		<string></string>
		<string>F13</string>
		<string></string>
		<string>F14</string>
		<string></string>
		<string>F10</string>
		<string></string>
		<string>F12</string>
		<string></string>
		<string>F15</string>
		<string>Help</string>
		<string>Home</string>
		<string>PageUp</string>
		<string>⌫</string>
		<string>F4</string>
		<string>End</string>
		<string>F2</string>
		<string>PageDown</string>
		<string>F1</string>
		<string>←</string>
		<string>→</string>
		<string>↓</string>
		<string>↑</string>
		<string></string>
	</array>
</dict>
</plist>
